<div class="container">
  <h1>App</h1>
  <nav>
    <ul>
      <li>
        {{link-to 'home' 'application' class='link-application'}}
      </li>
      {{#unless session.isAuthenticated}}
        <li>
          {{link-to 'registration' 'users/new' class='link-registration'}}
        </li>
      {{/unless}}
      <li>
        {{#if session.isAuthenticated}}
          <a {{action 'invalidateSession'}} url="#"  class="link-session-invalidation">Logout</a>
        {{else}}
          {{link-to 'login' 'users/authenticate' class='link-authenticate'}}
        {{/if}}
      </li>
    </ul>
  </nav>
  {{outlet}}
</div><!-- /.container -->
